extends layout

block content

  #main
    header
      #logo
        h1
          | MY
          a(href='#') PORTFOLIO
    #site_content

                #content
                    h1 Welcome to My Portfolio
                    p| Hey there I am Mohit Kumar.
                        p| I am currently studying in Birla Institute of Technology Mesra, Deoghar campus. My Branch is Computer Science.
                        h2| Skills
                        p| Based on what i have learned and done
                    ul
                        li HTML 5 CSS3
                        li Design and Analysis of Algorithm
                        li Javascript
                        li PHP

                        footer
                            p| I dont have any thing more to say
                                p| @2016 my portfolio


